@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'lobstertwo';
    src: url('/fonts/LobsterTwo-Regular.ttf');
}

@font-face {
    font-family: 'opensauce';
    src: url('/fonts/Open-sauce.ttf');
}

@theme {
    --color-primaire: #407829;
    --color-secondaire: #539d35;
}